<mat-card class="mat-elevation-z3">
    <mat-card-title>
        Nova Coleta
    </mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput name="name" placeholder="Nome" [(ngModel)]=coleta.name>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Valor</mat-label>
            <input matInput name="value" value={0} type="number" [(ngModel)]=coleta.value>
        </mat-form-field>
    </form>
    <mat-card-subtitle>
        <button mat-raised-button (click)="createColeta()">
            Salvar
        </button>
    </mat-card-subtitle>
</mat-card>